/* html styling*/
html {
  /* height: 100%; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1528819622765-d6bcf132f793?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2550&q=80)
      no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* body styling */
body {
  min-height: 100%;
  background: none;
  font-family: "Lato", sans-serif;
  padding-top: 74px;
}

/* Main container styling */
main {
  /*margin-top: 1rem;*/
  font-weight: 400;
}

/* Navigation bar styling */
#mainNavbar {
  font-weight: bolder;
}

.navbar-brand img {
  width: 4rem;
  border-radius: 50%;
}

/* About me section formatting */
#aboutContainer {
  max-width: 1200px;
}

/* ------ Profile container styling */
.avatar {
  border-radius: 50%;
  width: 50%;
}

.title-portrait h4,
h5 {
  margin: 1rem auto;
}

#shortBio {
  text-align: justify;
  line-height: 2;
}

#mainInterests ul {
  line-height: 2;
}

.about-summary {
  line-height: 2;
}

@media (max-width: 767px) {
  .profile {
    border-bottom: 1px solid darkgrey;
  }

  .about-summary-list {
    list-style-type: none;
    padding: 0;
  }
  #navbarItems {
    background: rgba(0, 0, 0);
  }
}

@media (max-width: 991px) {
  .about-summary {
    text-align: center;
  }
}

.social-icons {
  color: white;
}

/* ---------------- */
/* Generic styling */
/* ---------------- */
.no-style-list {
  list-style-type: none;
  padding: 0;
}
