/*--- html styling ---*/
html {
  /* height: 100%; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1528819622765-d6bcf132f793?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2550&q=80)
      no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*--- body styling ---*/
body {
  min-height: 100%;
  background: none;
  font-family: "Lato", sans-serif;
  padding-top: 74px;
}

/*--- Main container styling ---*/
main {
  font-weight: 400;
}

/*--- Navigation bar styling ---*/
#mainNavbar {
  font-weight: bolder;
  background-color: black;
}
.navbar-brand img {
  width: 4rem;
  border-radius: 50%;
}
.navbar-nav li .active {
  border-bottom: 2px solid red;
}
/*--- Main Profile section styling ---*/
#mainProfile {
  max-width: 1600px;
}

/*--- Quick Profile section styling ---*/
#title-portrait h4,
h5 {
  margin: 1rem auto;
}
.social-icons svg {
  color: white;
}
.social-icons {
  transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
  transform: translateY(0em);
  -moz-transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
  -moz-transition: translateY(0em);
}
.social-icons:hover {
  transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
  transform: translateY(-0.35em);
  -moz-transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
  -moz-transform: translateY(-0.35em);
}

/*--- About me container styling ---*/
#aboutMe {
  line-height: 2;
}
#shortBio {
  text-align: justify;
  line-height: 2;
}
#avatar {
  border-radius: 50%;
  width: 50%;
}
#mainInterests ul {
  line-height: 2;
}
#education-interest {
  font-size: 1.25rem;
}
/*--- Media Queries ---*/
@media (max-width: 767px) {
  #quickProfile {
    border-bottom: 1px solid darkgrey;
  }
  .about-summary-list {
    list-style-type: none;
    padding: 0;
  }
  #navbarItems {
    background: rgba(0, 0, 0);
  }
  #navTitle {
    display: none;
  }
  #education-interest {
    font-size: 1rem;
  }
}
@media (max-width: 1300px) {
  #education-interest {
    text-align: center;
    font-size: 1.1rem;
  }
}

/* ---------------- */
/* Generic styling */
/* ---------------- */
.no-style-list {
  list-style-type: none;
  padding: 0;
}
/* --------------- Resume HTML ------------------- */
#resumePDF {
  height: 1200px;
  width: auto;
}
